<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>POSTS</h1>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li><a href="{% url 'forming:post_view' post.id %}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>К сожалению нет ни одного поста.</p>
    {% endif %}
</body>
</html>