<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.description }}</p>
     <form method="post">
        {% csrf_token %}
        {% for f in form %}
            <p>
                {{ f }}
            </p>
        <div class="form-error">
            {{ f.errors }}
        </div>
        {% endfor %}
        <br>
        <button type="submit" class="btn">Отправить</button>
    </form>
</body>
</html>