<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if question_list %}
        {% for question in question_list %}
        <ul>
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        </ul>
        {% endfor %}
    {% else %}
        <p>К сожалению записо не были найдены</p>
    {% endif %}
</body>
</html>