{% extends 'movie/base.html' %}
{% load static %}

{% block content %}
<div class="login-form__wrapper">
  <div class="login-form">
    <div class="big-logo"><a class="logo"><img class="logo__img" src="{% static 'images/logo.png'%}" alert="logo">MovieLab</a></div>
      {% for error in form.non_field_errors %}
      <p class="text-danger mb-4">{{ error }}</p>
      {% endfor %}
    <form class="login-form__form" method="post">
        {% csrf_token %}
        {% for el in form %}
            <p class="form-item">
                {{ el }}
                <small class="form-text text-danger">{{ el.errors }}</small>
            </p>
        {% endfor %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <a class="form-item text_yellow text_right" href="{% url 'user:password_reset' %}">Забыли пароль?</a>
        <button class="form-item btn btn_yellow" type="submit">Войти</button>
      <p class="form-item">Или</p><a href="#" class="form-item btn btn_vk_blue">Войти через Вконтакте</a>
      <p class="form-item login-form__btn-list"><a href="#" class="btn btn_ok">Ok</a><a href="#" class="btn btn_mail">Mail</a></p>
      <p class="form-item">Нет аккаунта? <a class="text_yellow" href="{% url 'user:register' %}">Регистрация</a></p>
    </form>
  </div>
</div>
{% endblock%}