{% extends 'movie/base.html' %}
{% load static %}

{% block content %}
<main class="main">
  <div class="container-full">
    <div class="password-reset__wrapper">
      <div class="password-reset">
        <h4 class="alert-heading">Сброс пароля</h4>
        <p class="mb-4">Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем инструкции по настройке нового адреса электронной почты.</p>
           <small class="form-text text-danger">{{ form.non_field_errors }}</small>
        <form method="post">
            {% csrf_token %}
            <p class="form-input mb-4">
                <input class="form-control" type="email" name="email" placeholder="Адрес электронной почты:" required="">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <small class="form-text text_danger">{{ error }}</small>
                    {% endfor %}
                {% endfor %}
            </p>
            <button class="btn btn_yellow" type="submit">Сбросить пароль</button>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock%}