{% extends 'movie/base.html' %}
{% load static %}

{% block content %}
<main class="main">
  <div class="container-full">
    <div class="password-reset__wrapper">
        {% if validlink %}
          <div class="password-reset">
            <h4 class="alert-heading">Подтверждение сброса пароля</h4>
            <p class="mb-4">Пожалуйста, дважды введите новый пароль, чтобы мы могли убедиться, что вы ввели его правильно.</p>
            <form method="post">
                {% csrf_token %}
              <p class="form-input mb-4">
                  <input class="form-control" type="password" name="new_password1" autocomplete="new-password" id="id_new_password1" required="" placeholder="Новый пароль">
              </p>
              <p class="form-input mb-4">
                  <input class="form-control" type="password" name="new_password2" autocomplete="new-password" id="id_new_password2" required="" placeholder="Подтвердите пароль">
              </p>
                {% for field, errors in form.errors.items %}
                    <p>
                        {% for error in errors %}
                             <small class="form-text text_danger">{{ error }}</small>
                        {% endfor %}
                    </p>
                {% endfor %}
                <button class="btn btn_yellow" type="submit">Изменить мой пароль</button>
            </form>
              {% else %}
              <p class="mb-4">
                  Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась.<br><br>
                  Запросите новый <a href="{% url 'user:password_reset' %}">сброс пароля</a>.
              </p>
          </div>
        {% endif %}
    </div>
  </div>
</main>
{% endblock%}