{% extends 'movie/base.html' %}
{% load static %}

{% block content %}
 <main class="main">
  <div class="container-full">
    <div class="password-reset__wrapper">
      <div class="password-reset">
        <h4 class="alert-heading">Сброс пароля</h4>
        <p class="mb-4">Ваш пароль установлен. Теперь вы можете <a href="{% url 'user:login' %}">войти</a> в систему.</p>
      </div>
    </div>
  </div>
</main>
{% endblock%}