{% extends 'movie/base.html' %}
{% load static %}

{% block content %}
<main class="main">
  <div class="container-full">
    <div class="password-reset__wrapper">
      <div class="password-reset">
        <h4 class="alert-heading">Сброс пароля</h4>
        <p class="mb-4">Мы отправили вам по электронной почте инструкции по установке пароля, если существует учетная запись с указанным вами адресом электронной почты. Вы должны получить их в ближайшее время.</p>
        <hr>
        <p>Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, который вы указали при регистрации, и проверьте папку со спамом</p>
      </div>
    </div>
  </div>
</main>
{% endblock%}