{% extends 'movie/base.html' %}
{% load static %}

{% block content %}
<main class="main">
  <div class="container-full">
    <div class="profile">
      <div class="profile__head">
          <a class="profile__support text_yellow hide_sm" href="#">Связаться с поддержкой</a>
          <a class="logout btn btn_yellow" href="{% url 'user:logout' %}">Выйти</a>
      </div>
      <div class="profile__main">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
          <div class="profile__photo">
              <img id="uploadPreview" src="{{ request.user.profile.photo.url }}" alert="logo">
          </div>
          <p class="form-item">
              <label class="input-file">
                  <input id="uploadImage" type="file" name="photo" accept="image/*" onchange="PreviewImage();">
                  <span>Выберите файл</span>
              </label>
          </p>
            {% for el in user_form %}
                <p class="form-item">
                    {{ el }}
                     <small class="text_danger">{{ el.errors }}</small>
                </p>
            {% endfor %}
            <button type="submit" class="form-item btn btn_yellow">Сохранить изменения</button>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock%}