{% extends 'movie/base.html' %}
{% load static %}

{% block content %}
<main class="main">
  <div class="container-full">
    <div class="profile">
      <div class="profile__head">
          <a class="profile__support text_yellow hide_sm" href="#">Связаться с поддержкой</a>
          <a class="logout btn btn_yellow" href="{% url 'user:logout' %}">Выйти</a>
      </div>
      <div class="profile__main">
        <div class="profile__photo">
            <img src="{{ profile.photo.url }}" alt="{{ profile.user }}" alert="logo">
        </div>
        <h2 class="profile__name">{{ profile.user }}</h2>
          <a class="profile__edit-btn btn_white" href="{% url 'user:profile_edit' %}">Изменить профиль</a>
          <a class="profile__history-clean btn_yellow" href="#">Очистить историю просмотра</a>
          <a class="profile__compact text_yellow" href="#">Пользовательское соглашение</a>
          <a class="profile__support text_yellow show_sm" href="#">Связаться с поддержкой</a>
      </div>
    </div>
  </div>
</main>
{% endblock%}