{% extends 'movie/base.html' %}
{% load static %}

{% block content %}
<main class="main">
  <div class="container-full">
    <div class="register__wrapper">
      <div class="register">
        <h2>Регистрация</h2>
       <form method="post">
           {% csrf_token %}
           {% for field in form %}
              <p class="form-input mb-4">
                  {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text_danger" style="display: none ">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
              </p>
           {% endfor %}
          <button class="btn btn_yellow" type="submit">Регистрация</button>
          <p>Уже есть аккаунт? <a class="text_yellow" href="{% url 'user:login' %}" ">Войти</a></p>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock%}