<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
</head>
<body>
    {% autoescape off %}
    <b>Здравствуйте {{ user }}!</b><br>
    <p>Вы получили это письмо, так как зарегестрировались на {{ domain }}.</p>

    Для активации Вашей учетной записи перейдите по: <a href="{{ protocol }}://{{ domain }}{% url 'user:activate' uidb64=uid token=token %}">ссылке</a><br><br>
    Ссылка действительна в течении 4-x часов с момента получения письма. <br><br>
    Если вы не регестрировались, просто проигнорируйте это письмо. <br><br>
    Спасибо!

    {% endautoescape %}
</body>
</html>