{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="logo">
    <img src="{% static 'images/logo.svg'%}" alt="">
</div>

<div class="container">
    <a href="/">BACK</a> {{ title|capfirst }}
    <div class="movies__content">
        {% for movie in movies %}
            <a href="{{ movie.get_absolute_url }}" class="poster">
                <div class="poster__img">
                    {% if movie.poster_url %}
                    <img src="{{ movie.poster_url_preview.url }}" alt="{{ movie.title }}">
                    {% endif %}
                </div>
                <span class="poster__title">{{ movie.title|truncatewords:50 }}</span>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock%}