<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title|capfirst }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
</head>
<body>
    <header class="header">
        <a href="{% url 'home' %}" class="header__logo">
            <img src="{% static 'images/logo.svg' %}" alt="">
        </a>
        <div class="header_link">
            <a href="{% url 'full_categories' %}">Каталог</a>
            <a href="#">Мой MoviLab</a>
        </div>
        <form class="input-search" action="{% url 'search' %}" method="get">
            <input type="search" name="q" placeholder="Поиск по фильмам и сериалам">
            <button type="submit">Поиск</button>
        </form>
        {% if request.user.is_authenticated %}
        {{ user.username }} 
        <a href="{% url 'logout' %}" class="btn">Выйти</a>
        {% else %}
        <a href="{% url 'register' %}" class="btn">Регистрация</a> |
        <a href="{% url 'login' %}" class="btn">Войти</a>
        {% endif %}
    </header>
    {% block content %}
        
    {% endblock%}
    <script src="{% static 'js/common.js' %}" defer></script>
</body>
</html>
