{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="logo">
    <img src="{% static 'images/logo.svg'%}" alt="">
</div>

<div class="container">
    <h1>Коллекции</h1>
    <div class="movies__categories">
        {% for category in categories %}
            <a href="{{ category.pk }}" class="poster">
                <div class="poster__img">
                    {% if category.poster %}
                    <img src="{{ category.poster.url }}" alt="{{ category.category }}">
                    {% endif %}
                </div>
                <span class="poster__title">{{ category.category|truncatewords:50 }}</span>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock%}