{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="movie">
    <div class="movie_poster">
        <img src="{{ movie.poster_url.url }}" alt="{{ title }}">
    </div>
    <div class="movie_content">
        <h1 class="movie_title">{{ title }}</h1>
        <span class="movie_year">{{ movie.year }}</span>
        <div class="movie_countries">
            {% for country in countries %}
            <a href="{% url 'movies_country' country.id %}" class="movie_country">{{ country }}</a>
            {% endfor %}
        </div>
        <div class="movie_genres">
            {% for genre in genres %}
            <span class="movie_genre">{{ genre }}</span>
            {% endfor %}
        </div>
        <p>{{ movie.description }}</p>
        <div class="movie_actors">
            {% for actor in actors %}
            <a href="{% url 'movies_actor' actor.id %}" class="movie_actor">{{ actor }}</a>
            {% endfor %}
        </div>
        <span>{{ movie.quality }}</span>
        <div class="movie_directors">
            {% for director in directors %}
            <span class="movie_director">{{ director }}</span>
            {% endfor %}
        </div>
    </div>
</div>

 <video width="640" height="400" controls="controls" src="{{ movie.video.url }}"></video>

{% endblock%}