{% block nav_top %}

<div class="container">
    <nav class="nav">
        {% for genre in genres %}
            <a href="{% url 'movies-genre' genre.pk %}">{{ genre.genre }}</a>
        {% endfor %}

    </nav>
</div>

{% endblock%}