{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="error_message" style="text-align: center;">
        <span>Фильмов не найдено</span>
    </div>
</div>

{% endblock%}