{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="form-error">{{ form.non_field_errors }}</div>
    <form method="post">
        {% csrf_token %}
        {% for f in form %}
            <p>
                <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                {{ f }}
            </p>
        <div class="form-error">
            {{ f.errors }}
        </div>
        {% endfor %}
        <button type="submit" class="btn">Регистрация</button>
    </form>
</div>
{% endblock%}