<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title|capfirst }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script defer="defer" src="{% static 'js/index.js' %}"></script>

</head>
<body>
    <header class="header">
       <a class="logo header__logo" href="{% url 'movie:home' %}"><img class="logo__img" src="{% static 'images/logo.png' %}" alert="logo">MovieLab</a>
       <div class="header__links">
          <a class="nav-link active" href="{% url 'movie:full_categories' %}">
             <span class="icon icon_catalog">
                <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" mirror-in-rtl="true">
                   <path fill="#494c4e" d="M6 18H1a1 1 0 0 1-1-1v-5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1zM17 18h-5a1 1 0 0 1-1-1v-5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1zM6 7H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1zM17.708 5.24l-3.535 3.535a1 1 0 0 1-1.414 0L9.224 5.24a1 1 0 0 1 0-1.413L12.76.292a1 1 0 0 1 1.414 0l3.535 3.535a1 1 0 0 1-.002 1.414z"/>
                </svg>
             </span>
             <span>Каталог</span>
          </a>
          <a class="nav-link" href="{% url 'movie:favorite_list' %}">
             <span class="icon">
                <svg fill="#494c4e" width="20px" height="20px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" class="jam jam-screen-f">
                   <path d="M3 .565h14a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3v-9a3 3 0 0 1 3-3zm4 16h6a1 1 0 0 1 0 2H7a1 1 0 0 1 0-2z"/>
                </svg>
             </span>
             <span>Мой MovieLab</span>
          </a>
       </div>
       <div class="header__search">
          <form class="form-search" action="{% url 'movie:search' %}" method="get">
              <input class="form-search__input" name="q" type="search" placeholder="Поиск по фильмам и сериалам">
          </form>
       </div>
       <div class="header__apps">
          <a class="btn app-link">
             <span class="icon icon_android">
                <svg width="24px" height="24px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                   <path d="M3.809 5.696h9.383v6.807c0 0.623-0.502 1.125-1.113 1.125h-0.769v2.32c0 0.583-0.469 1.052-1.051 1.052-0.583 0-1.055-0.47-1.055-1.052v-2.32h-1.408v2.32c0 0.582-0.472 1.052-1.055 1.052-0.571 0-1.042-0.47-1.042-1.052l-0.009-2.32h-0.757c-0.622 0-1.124-0.501-1.124-1.125v-6.807zM2.357 5.502c-0.582 0-1.053 0.471-1.053 1.042v4.396c0 0.583 0.471 1.052 1.053 1.052s1.042-0.47 1.042-1.052v-4.396c0-0.571-0.468-1.042-1.042-1.042zM13.222 5.328h-9.454c0-1.625 0.972-3.036 2.413-3.771l-0.727-1.338c-0.041-0.072-0.021-0.164 0.051-0.205 0.071-0.031 0.164-0.011 0.205 0.062l0.735 1.349c0.625-0.277 1.32-0.43 2.055-0.43s1.43 0.153 2.055 0.429l0.735-1.349c0.041-0.072 0.134-0.092 0.205-0.062 0.072 0.041 0.092 0.133 0.051 0.205l-0.727 1.338c1.432 0.736 2.403 2.147 2.403 3.772zM6.741 3.223c0-0.215-0.173-0.399-0.397-0.399-0.216 0-0.389 0.184-0.389 0.399 0 0.214 0.173 0.398 0.389 0.398 0.224 0.001 0.397-0.183 0.397-0.398zM11.045 3.223c0-0.215-0.173-0.399-0.389-0.399-0.225 0-0.397 0.184-0.397 0.399 0 0.214 0.173 0.398 0.397 0.398 0.216 0.001 0.389-0.183 0.389-0.398zM14.643 5.502c-0.573 0-1.042 0.46-1.042 1.042v4.396c0 0.583 0.469 1.052 1.042 1.052 0.582 0 1.053-0.47 1.053-1.052v-4.396c-0.001-0.582-0.471-1.042-1.053-1.042z" fill="#fff"/>
                </svg>
             </span>
             <span>Android App</span>
          </a>
          <a class="btn app-link">
             <span class="icon icon_tv-app">
                <svg fill="#494c4e" width="20px" height="20px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" class="jam jam-screen-f">
                   <path d="M3 .565h14a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3v-9a3 3 0 0 1 3-3zm4 16h6a1 1 0 0 1 0 2H7a1 1 0 0 1 0-2z"/>
                </svg>
             </span>
             <span>TV App</span>
          </a>
       </div>
       <a class="header__feedback feedback-btn">
          <span class="icon icon_email">
             <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                <circle style="fill:#23252b;" cx="256" cy="256" r="256"/>
                <g>
                   <path style="fill:#f7cb2f;" d="M400.272,356.08H112.048v-205.6h288.24v205.6H400.272z M128.048,340.08h256.24v-173.6h-256.24
                      V340.08z"/>
                   <polygon style="fill:#f7cb2f;" points="256.176,279.824 115.824,192.704 124.256,179.104 256.144,260.976 388.032,178.464
                      396.528,192.032 	"/>
                </g>
                <rect x="342.548" y="225.448" transform="matrix(-0.7863 0.6178 -0.6178 -0.7863 807.8576 308.6862)" style="fill:#f7cb2f;" width="16" height="137.196"/>
                <polygon style="fill:#f7cb2f;" points="126.032,352.944 113.424,343.056 198.208,235.168 210.8,245.04 "/>
             </svg>
          </span>
       </a>
        {% if request.user.is_authenticated %}
        <div class="header__profile">
            <a class="header__profile-main" href="#" data-content="dropdown-toggle">
                <img class="header__profile-photo" src="{{ request.user.profile.photo.url }}">
                <span class="header__profile-user">{{ user.username }}</span>
            </a>
            <div class="header__profile-menu" data-content="dropdown-menu">
                <a href="{% url 'user:profile' %}">Профиль</a>
                <a href="{% url 'user:logout' %}">Выйти</a>
            </div>
        </div>
        {% else %}
        <div class="header__login"><a class="btn btn_yellow" href="{% url 'user:login' %}">Войти</a></div>
        {% endif %}
    </header>

    {% block content %}

    {% endblock%}
    <footer class="footer hide-lg">
       <nav class="footer__nav">
          <a class="nav-link active" href="{% url 'movie:home' %}">
             <span class="icon icon_home">
                <svg width="24px" height="24px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                   <path fill="#494c4e" d="M512 128 128 447.936V896h255.936V640H640v256h255.936V447.936z"/>
                </svg>
             </span>
             <span>Главная</span>
          </a>
          <a class="nav-link"href="{% url 'movie:full_categories' %}">
             <span class="icon icon_catalog">
                <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" mirror-in-rtl="true">
                   <path fill="#494c4e" d="M6 18H1a1 1 0 0 1-1-1v-5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1zM17 18h-5a1 1 0 0 1-1-1v-5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1zM6 7H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1zM17.708 5.24l-3.535 3.535a1 1 0 0 1-1.414 0L9.224 5.24a1 1 0 0 1 0-1.413L12.76.292a1 1 0 0 1 1.414 0l3.535 3.535a1 1 0 0 1-.002 1.414z"/>
                </svg>
             </span>
             <span>Каталог</span>
          </a>
          <a class="nav-link" href="{% url 'movie:favorite_list' %}">
             <span class="icon icon_tv">
                <svg fill="#494c4e" width="20px" height="20px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" class="jam jam-screen-f">
                   <path d="M3 .565h14a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3v-9a3 3 0 0 1 3-3zm4 16h6a1 1 0 0 1 0 2H7a1 1 0 0 1 0-2z"/>
                </svg>
             </span>
             <span>Мой MovieLab</span>
          </a>
          <a class="nav-link" href="{% url 'user:profile' %}">
             <span class="icon icon_settings">
                <svg fill="#494c4e" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                   <path d="M4,13.743l-1,.579a1,1,0,0,0-.366,1.366l1.488,2.578a1,1,0,0,0,1.366.366L6.5,18.05a1.987,1.987,0,0,1,1.986,0l.02.011a1.989,1.989,0,0,1,1,1.724V21a1,1,0,0,0,1,1h3a1,1,0,0,0,1-1V19.782a1.985,1.985,0,0,1,.995-1.721l.021-.012a1.987,1.987,0,0,1,1.986,0l1.008.582a1,1,0,0,0,1.366-.366l1.488-2.578A1,1,0,0,0,21,14.322l-1-.579a1.994,1.994,0,0,1-1-1.733v-.021a1.991,1.991,0,0,1,1-1.732l1-.579a1,1,0,0,0,.366-1.366L19.876,5.734a1,1,0,0,0-1.366-.366L17.5,5.95a1.987,1.987,0,0,1-1.986,0L15.5,5.94a1.989,1.989,0,0,1-1-1.724V3a1,1,0,0,0-1-1h-3a1,1,0,0,0-1,1V4.294A1.856,1.856,0,0,1,8.57,5.9l-.153.088a1.855,1.855,0,0,1-1.853,0L5.49,5.368a1,1,0,0,0-1.366.366L2.636,8.312A1,1,0,0,0,3,9.678l1,.579A1.994,1.994,0,0,1,5,11.99v.021A1.991,1.991,0,0,1,4,13.743ZM12,9a3,3,0,1,1-3,3A3,3,0,0,1,12,9Z"/>
                </svg>
             </span>
             <span>Настройки</span>
          </a>
       </nav>
    </footer>
 <script defer="defer" src="{% static 'js/user_profile.js' %}"></script>
</body>
</html>
