{% extends 'movie/base.html' %}
{% load static %}

{% block content %}
<main class="main">
  <div class="favorites">
    <div class="favorites-nav">
        <a class="favorites-link active" href="#">Закладки</a>
        <a class="favorites-link" href="#">История</a>
        <a class="favorites-link" href="#">Рейтинг</a>
        <a class="favorites-link" href="#">Мои коллекции</a>
        <a class="favorites-link" href="#">Избранные коллекции</a>
    </div>
      {% if new %}
        <div class="favorites__list">
            {% for movie in new %}
            <a class="movie-poster" href="{% url 'movie:movie' movie.pk %}">
                <div class="movie-poster__main">
                  <div class="movie-poster__img">
                      {% if movie.poster_url %}
                        <img src="{{ movie.poster_url_preview.url }}" alt="{{ movie.title }}">
                      {% endif %}
                  </div>
                    <span class="movie-poster__rating">5.7</span><span class="movie-poster__quality">HD</span>
                </div>
                <p class="movie-poster__title">{{ movie.title|truncatewords:50 }}</p>
            </a>
            {% endfor %}
        </div>
      {% else %}
        <div class="favorites__error">
          <h4 class="alert-heading">Тут пока ничего нет</h4>
             {% if user.is_authenticated %}
            <a class="btn btn_yellow" href="{% url 'movie:home' %}">Перейти в каталог</a>
            {% else %}
            <a class="btn btn_yellow" href="{% url 'user:login' %}">Войти</a>
            {% endif %}
        </div>
      {% endif %}
  </div>
</main>
{% endblock%}