{% extends 'movie/base.html' %}
{% load static %}

{% block content %}
    <main class="main">
      <h2 class="poster-slider-title">Коллекции</h2>
      <div class="catalog-slider">
        <div class="swiper swiper_movie" data-jsclass="swiperMovieCollection">
          <div class="swiper-wrapper">
              {% for category in categories %}
                <div class="swiper-slide">
                    <a class="movie-category" href="{{ category.pk }}">
                        {% if category.poster %}
                        <img class="movie-category__img" src="{{ category.poster.url }}" alt="{{ category.category }}">
                        {% endif %}
                        <p class="movie-category__title">{{ category.category|truncatewords:50 }}</p>
                    </a>
                </div>
              {% endfor %}
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </main>
{% endblock%}