{% extends 'movie/base.html' %}
{% load static %}

{% block content %}

<main class="main">
   <div class="big-logo">
      <div class="big-logo__wrapper"><a class="logo"><img class="logo__img" src="{% static 'images/logo.png'%}" alert="logo">MovieLab</a></div>
   </div>
   {% include 'movie/nav-top.html' %}
   {% for k, movies in movies.items %}
   <h2 class="poster-slider-title">{{ k }}</h2>
   <div class="poster-slider">
      <div class="swiper swiper_movie" data-jsclass="swiperMovie">
         <div class="swiper-wrapper">
            {% for movie in movies %}
            <div class="swiper-slide">
               <a class="movie-poster" href="{% url 'movie:movie' movie.pk %}">
                  <div class="movie-poster__main">
                     <div class="movie-poster__img">
                        {% if movie.poster_url %}
                        <img src="{{ movie.poster_url_preview.url }}" alt="{{ movie.title }}">
                        {% endif %}
                     </div>
                     <span class="movie-poster__rating">5.7</span><span class="movie-poster__quality">HD</span>
                  </div>
                  <p class="movie-poster__title">{{ movie.title|truncatewords:50 }}</p>
               </a>
            </div>
            {% endfor %}
         </div>
         <div class="swiper-button-next"></div>
         <div class="swiper-button-prev"></div>
      </div>
      {% endfor %}
   </div>
</main>

{% endblock%}