{% extends 'movie/base.html' %}
{% load static %}

{% block content %}
<main class="main">
   <div class="container-full">
      <div class="title"><a class="arrow arrow__left" onclick="history.back(); return false;"></a></div>
      <div class="movie-info">
         <div class="movie-info__poster"><img src="{{ movie.poster_url.url }}" alt="{{ title }}"></div>
         <div class="movie-info__detail">
            <div class="movie-info__title">
               <h1 class="movie-info__title-text">{{ movie.title }}</h1>
                 {% if user.is_authenticated %}
                    {% if fav %}
                    <a class="icon icon_bookmark active" href="{% url 'movie:favorite_add' movie.id %}">
                        <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M15.75 5H8.25C7.55964 5 7 5.58763 7 6.3125V19L12 15.5L17 19V6.3125C17 5.58763 16.4404 5 15.75 5Z" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                    {% else %}
                     <a class="icon icon_bookmark" href="{% url 'movie:favorite_add' movie.id %}">
                        <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M15.75 5H8.25C7.55964 5 7 5.58763 7 6.3125V19L12 15.5L17 19V6.3125C17 5.58763 16.4404 5 15.75 5Z" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                     </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="movie-info__paramsCeil movie-info__params">
                <span>{{ movie.year }}</span>
                {% for country in countries %}
                 <span>{{ country }}</span>
                {% endfor %}
            </div>
            <div class="movie-info__genresList movie-info__params">
                {% for genre in genres %}
                <a>{{ genre }}</a>
                {% endfor %}
            </div>
            <p class="movie-info__description movie-info__params">{{ movie.description }}</p>
            <table class="movie-info__table">
               <tr>
                  <td>Актеры:</td>
                  <td>
                      {% for actor in actors %}
                        <a href="{% url 'movie:movies_actor' actor.id %}">{{ actor }}</a>
                      {% endfor %}
                  </td>
               </tr>
               <tr>
                  <td>Качество:</td>
                  <td>{{ movie.quality }}</td>
               </tr>
               <tr>
                  <td>Режисёр:</td>
                  <td>
                      {% for director in directors %}
                        <a>{{ director }}</a>
                      {% endfor %}
                  </td>
               </tr>
               <tr>
                  <td>Страны:</td>
                  <td>
                      {% for country in countries %}
                        <a href="{% url 'movie:movies_country' country.id %}">{{ country }}</a>
                      {% endfor %}
                  </td>
               </tr>
            </table>
         </div>
      </div>
      <div class="movie-player">
         <video class="movie-player__video" data-jsclass="moviePlayer" laysinline controls data-poster="{{ movie.poster_url.url }}">
            <source src="{{ movie.video.url }}" type="video/mp4">
         </video>
      </div>
      <div class="movie-reviews">
         <div class="movie-reviews__head">
             {% if reviews.count %}
             <h2 class="h1 movie-reviews__h1">Отзывы {{ reviews.count }}</h2>
            {% else %}
            <h2 class="h1 movie-reviews__h1">Отзывы</h2>
            {% endif %}

             {% if request.user.is_authenticated %}
                <div class="form-error">{{ form.non_field_errors }}</div>
                <form method="post" action="{% url 'movie:add_rating' %}" class="ratingForm_js">
                    {% csrf_token %}
                    <div class="movie-rating">
                       <div class="movie-rating__area">
                           {% for n in star_form.fields.star.choices %}
                            {% if star_checked.star == n %}
                               <input type="radio" id="rating{{ n }}c" name="rating"  value="{{ n }}" checked="checked">
                               <label for="rating{{ n }}c" title="{{ n }}"></label>
                            {% else %}
                                <input type="radio" id="rating{{ n }}" name="radio" value="{{ n }}">
                                <label for="rating{{ n }}"></label>
                            {% endif %}
                           {% endfor %}
                       </div>
                    </div>
                    <input type="hidden" name="movie" value="{{ movie.id }}">
                </form>
             {% endif %}
         </div>
          {% if request.user.is_authenticated %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            <form class="review-form" method="post" action="{% url 'movie:add_review' movie.pk %}">
                {% csrf_token %}
                <textarea name="text_review" class="review-form__textarea"></textarea>
                <button class="review-form__submit-btn btn btn_yellow" type="submit">Отправить</button>
            </form>
          {% else %}
            <p class="movie-reviews__info">Чтобы оставить отзыв - <a href="{% url 'user:login' %}?next={{ request.path }}">войдите</a></p>
          {% endif %}

         <div class="review">
             {% for review in reviews %}
                <div class="review-info">
                   <div class="review-info__photo"><img src="{{ user.profile.photo.url }}"></div>
                   <div class="review-info__column"><span class="review-info__title">{{ review.user }}</span>
                       <span class="review-info__data">{{ review.create_data }}</span>
                   </div>
                </div>
                <p class="review-info__description">{{ review.text_review }}</p>
             {% endfor %}
         </div>
      </div>
   </div>
</main>

{% if request.user.is_authenticated %}
    <script src="{% static 'js/rating.js' %}"></script>
{% endif %}

{% endblock%}