<div class="top-menu-slider">
  <div class="swiper swiper_movie" data-jsclass="swiperMovie">
     <div class="swiper-wrapper">
        <div class="swiper-slide"><a class="btn btn_yellow btn_big"  href="{% url 'movie:random_movies' %}">Мне повезет</a></div>
         {% for genre in genres %}
            <div class="swiper-slide"><a href="{% url 'movie:movies_genre' genre.pk %}" class="btn btn_gray btn_big">{{ genre|capfirst }}</a></div>
         {% endfor %}
     </div>
     <div class="swiper-button-next"></div>
     <div class="swiper-button-prev"></div>
  </div>
</div>