{% extends 'movie/base.html' %}
{% load static %}

{% block content %}
<main class="main">
     <div class="alert-info__wrapper">
        <div class="alert-info">
          <h4 class="alert-heading">Фильмов не найдено</h4>
        </div>
      </div>
</main>
{% endblock%}