{% extends 'movie/base.html' %}
{% load static %}

{% block content %}

<main class="main">
  <div class="short-categories">
    <div class="title">
      <h1 class="h1">Фильмы</h1>
    </div>
    <div class="short-categories__list">
        {% for movie in movies %}
        <a class="movie-poster" href="{% url 'movie:movie' movie.pk %}" >
            <div class="movie-poster__main">
              <div class="movie-poster__img">
                  {% if movie.poster_url %}
                  <img src="{{ movie.poster_url_preview.url }}" alt="{{ movie.title }}">
                  {% endif %}
              </div><span class="movie-poster__rating">5.7</span><span class="movie-poster__quality">HD</span>
            </div>
            <p class="movie-poster__title">{{ movie.title|truncatewords:50 }}</p>
        </a>
        {% endfor %}
    </div>
  </div>
</main>
{% endblock%}